@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* tailwind */
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* first, so config, base, components, utilities can use it */
@import './theme/index.css';

/* tailwind token bridge */
@import './tailwind-config.css';

@import './base/index.css';
@import './components/index.css';
@import './utilities/index.css';
