/* Post content, entire Page, entire Project */

/* prose override */
@layer base {
  .my-prose:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply prose prose-slate max-w-none dark:prose-invert;

    /* responsive styling */
    /* all tags */
    @apply md:prose-lg;

    /* limit just h1 */
    @apply prose-h1:text-3xl md:prose-h1:text-4xl lg:prose-h1:text-5xl;
    @apply prose-h1:font-bold;

    /* a */
    @apply prose-a:text-links prose-a:no-underline;
    @apply prose-a:hover:text-links-hover prose-a:hover:underline;
    @apply prose-a:focus:text-links-hover prose-a:focus:underline;
    @apply prose-a:active:text-links-hover prose-a:active:underline;

    /* image */
    @apply prose-img:rounded-button;

    /* my custom components bellow */

    /* vertical margins */
    .toc,
    .expressive-code,
    .alert {
      @apply my-5 md:my-6;
    }
  }
}
